@use "sass:color";

@use "@material/theme/color-palette";

// Svelte Colors!
@use "@material/theme/index" as theme with (
  $primary: #19b9a1,
  $secondary: #dbda86,
  $surface: #fff,
  $background: #c9e4c5,
  $error: color-palette.$red-900,
  $on-surface: black
);

html,
body {
  background-color: theme.$surface;
  color: theme.$on-surface;
}

span {
  color: theme.$on-surface;
}

a {
  color: #40b3ff;
}
a:visited {
  color: color.scale(#40b3ff, $lightness: -35%);
}
